In [ ]:
my_list = [1,2,3]

In [ ]:
my_list.append(4)

In [ ]:
my_list

[1, 2, 3, 4]

In [ ]:
my_list.pop()

4

Press Shift+Tab after the method to open the help menu

In [ ]:
my_list.insert(2,4)

In [ ]:
help(my_list.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

In [ ]:
my_list

[1, 2, 4, 3]

In a function we use "return" when we want to send back theresult of the function insted of just printing it out. "return" allows us to assign the output of the function to a new variable

In [ ]:
def say_hello(name) :
  print("Hello " + name)

say_hello("Ballu")

Hello Ballu

In [ ]:
def say_hello(name) :
  print(f'Hello {name}')

say_hello("Ballu")

Hello Ballu

This is a function with a default argument

In [ ]:
def say_hello(name='Sumit') :
  print("Hello " + name)

say_hello("Ballu")
say_hello()

Hello Ballu
Hello Sumit

In [ ]:
def return_add_num(num1,num2):
  return num1+num2
def print_add_num(num1,num2):
  print(num1+num2)
result1 = return_add_num(3,5)
result2 = print_add_num(3,5)

8

In [ ]:
result1

8

result1 will give an output but not result2 because it's functio has print and return1 has return

In [ ]:
result2

In [ ]:
def add_num(num1,num2):
  return num1+num2

add_num('10','20')

'1020'

In [ ]:
def even_check(num) :
  result = num%2 ==0
  return result

even_check(15)

False

In [1]:
def Check_for_even(check_list) :
  even_list = []
  odd_list = []
  for i in check_list :
    if i %2==0 :
     even_list.append(i)
    elif i%2 !=0 :
      odd_list.append(i)
    else :
      pass

  print(even_list)
  print(odd_list)

check_list=[0,1,2,3,4,5,6,7,8,9,10]
Check_for_even(check_list)

[0, 2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]

Tuple unpacking

In [ ]:
stock_prices = [('Apple',400),('Google',300),('Microsoft',500)]
for i in stock_prices :
  print(i)

('Apple', 400)
('Google', 300)
('Microsoft', 500)

In [ ]:
for i,p in stock_prices :
  print(i)

Apple
Google
Microsoft

In [ ]:
for i,p in stock_prices :
  print(p)

400
300
500

In [ ]:
work_hours = [('ram',500),('shyam',680),('Geeta',456),('sita',345)]

def employee_check(work_hours) :
  time = 0
  Best_employee = ''
  for emp,hrs in work_hours :
    if hrs > time :
      time = hrs 
      Best_employee = emp
    else:
      pass
  return (Best_employee,time)

employee_check(work_hours)

('shyam', 680)

The returned element is a tuple so we can unpack it

In [ ]:
result = employee_check(work_hours)

In [ ]:
name,hours = employee_check(work_hours)

In [ ]:
result

('shyam', 680)

In [ ]:
name

'shyam'

In [ ]:
hours

680

each time you run this code you will get a different result because of the "shuffle"

In [2]:
example = [1,2,3,4,5,6,7]
from random import shuffle
shuffle(example)
print(example)

[1, 5, 3, 2, 7, 4, 6]

This program is a guessing game you guess a number[0,2] and it tells you whether you are right ot not i.e. the 'O' existed at your guessed place or not.

In [3]:
def shuffle_list(mylist) :
  shuffle(mylist)
  return mylist

mylist = [' ','O',' ']

def player_guess() :
  guess = ''
  while guess not in ['0','1','2'] :
    guess = input("Pick a number : 0,1,or 2")
  return int(guess)

def check_guess(mylist,myguess) :
  if mylist[myguess] == 'O' :
    print("Holaa You won")

  else :
    print("Wrong Guess")
    print(mylist)



#initial list
mylist = [' ','O',' ']

# shuffled list
shuffle_list(mylist)

#user Guess
myguess = player_guess()

#Check Guess
check_guess(mylist,myguess)

Pick a number : 0,1,or 22
Wrong Guess
[' ', 'O', ' ']